<!DOCTYPE html>
<html>
<head>
	<title>JD's Weather App</title>
</head>
<body>
	<h1>Hello and Welcome to the JD's Weather App!</h1>
	<% link_to "Weather" %>
	<a href="/weather">See Austin's Weather</a>
</body>
</html>